.map-baloon {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
  background: #ffffff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
  color: #000000;
}

.map-baloon__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
}

.map-baloon__name {
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 300;
}

.map-baloon__description {
  font-size: 14px;
  color: #454545;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.map-baloon__buttons {
  display: flex;
  gap: 8px;
}

.map-baloon__buttons a {
  padding: 7px 10px;
  background: #2196f3;
  border-radius: 7px;
  border: none;
  color: #fff;
  cursor: pointer;
}
