.video-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #000000d2;
}

iframe {
  height: 100%;
  width: 100%;
}

.close-video-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background: url("../img/icons/закрыть.png");
  background-size: cover;
}
