.header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 16px;
  background-color: #29375c;
  font-family: "Bruno Ace SC", cursive;
}

.header__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__img {
  display: inline-block;
}

.header__title {
  font-size: 2.2em;
  color: #fff;
  font-family: "Bruno Ace SC", cursive;
  font-weight: 400;
  font-size: 2.2em;
  letter-spacing: 1px;
}

.header__title span {
  padding: 0 3px;
}

.header__subtitle {
  font-size: 1em;
  color: #fff;
  font-family: "Biryani", sans-serif;
  font-weight: 200;
  letter-spacing: 4px;
}

@media screen and (max-width: 289px) {
  .header__title {
    font-size: 1em;
  }
}

@media screen and (max-width: 340px) and (min-width: 290px) {
  .header__title {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 699px) and (min-width: 341px) {
  .header__title {
    font-size: 1.4em;
  }
  .header__subtitle {
    font-size: 0.8em;
    letter-spacing: 3px;
  }
}

@media screen and (max-width: 600px) {
  .header__subtitle {
    font-size: 0.8em;
    letter-spacing: 3px;
  }
}

@media screen and (max-width: 699px) {
  .header__img {
    display: none;
  }
}
